@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 178, 178);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
